/* src/FAQ.css */
.faq {
  text-align: start;
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  h1 {
    margin: 10px 0;
  }
}
.title{
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}





.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gridSection{
  border-left: 1px solid var(--white);
  margin-left: 15px;
  display: grid;
  gap: 10px;
  margin-top: 7px;
  padding: 5px 0px 5px 15px;
  width: 100%;
  .sectionItem{
    display: flex;
    
    width: 100%;
    gap: 10px;
  }
}

